<div class="content" role="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-content">
            <div class="row">
              <div class="col">
                <p class="desc">Cancel order <mat-icon>close</mat-icon></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h1>{{auction.currency}}</h1>
                <h2 class="date">{{auction.rate_start | date: 'MMM-dd'}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md flex">
                <div class="bg-chart-secondary mr-0">
                  <h2>{{auction.rate_mid}}</h2>
                  <p class="m-0 p-0">mid</p>
                </div>
                <div class="bg-red ml-0"><h2>4.10</h2><p class="m-0 p-0">order</p></div>
                <div *ngIf="type === 'R'" class="bg-green"><h1>R</h1></div>
                <div *ngIf="type === 'P'" class="bg-red"><h1>P</h1></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md mr-0 pr-0">
                <div class="bg-chart-primary">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>$</button>
                      <button ngbDropdownItem>€</button>
                      <button ngbDropdownItem>C$</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md mx-0 px-0">
                <div class="bg-chart-primary">
                  <h2 class="my-3"><b>200k</b></h2>
                </div>
              </div>
              <div class="col-md ml-0 pl-0">
                <div class="bg-dark-blue">
                  <p *ngIf="type === 'R'" class="py-2 m-0 my-2" (click)="switch('P')">switch to P</p>
                  <p *ngIf="type === 'P'" class="py-2 m-0 my-2"(click)="switch('R')">switch to R</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-dark-blue">
                  <p class="py-2 m-0 full"><b> =£15.2 BIO</b></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-chart-primary">
                  <h3>auction cutoff</h3>
                  <p class="float-left">10-mar-2021</p>
                  <p class="float-right">10:00 AM</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-green text-white ">
                  <p class="m-0 pt-2 pb-2">Submit</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header p-0"></div>
        </div>
      </div>
      <div class="col-md detail">
        <div class="card">
          <div class="card-content">
            <h2>{{auction.currency}}</h2>
            <hr>
            <p>Parameters(MPC, first trade below)
              Start Date:	18 Mar 2021
              End Date:	20 Mar 2022
              Currency:	GBP
              Cleared:	LCH
              Fixed Leg:	IT ACT/365.FIXED
              Floating Leg:	IT Sonia-Compound
            </p>
            <hr>
            <p>Parameters(MPC, first trade below)
              Start Date:	18 Mar 2021
              End Date:	20 Mar 2022
              Currency:	GBP
              Cleared:	LCH
              Fixed Leg:	IT ACT/365.FIXED
              Floating Leg:	IT Sonia-Compound
            </p>
            <hr>
            <p class="desc">Trade desctiption</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


