  <div class="container">
    <div class="image"></div>
    <div class="card">
      <div class="card-title"> <h2>
        <ul>
          <li  routerLinkActive="active">
            <a  routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li  routerLinkActive="active">
            <a  routerLink="/sign-up">Sign Up <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </h2> </div>
      <div class="card-content">
        <p *ngIf="error" class="red">Wrong email or password !</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="row">
        <div class="col-md-12">
          <h4>Email: </h4>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="login">
            <mat-icon matSuffix *ngIf="loginForm.get('login').errors && loginForm.get('login').touched">error</mat-icon>
            <mat-error  *ngIf="loginForm.get('login').errors && loginForm.get('login').touched">something is wrong</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <h4>Password: </h4>
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-icon matSuffix *ngIf="loginForm.get('password').errors && loginForm.get('password').touched">error</mat-icon>
            <mat-error  *ngIf="loginForm.get('password').errors && loginForm.get('password').touched">something is wrong</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12 text-align-center">
          <button mat-button type="submit">login</button>
        </div>
      </div>
        </form>
      </div>
    </div>
  </div>


