<div class="content" role="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div>
          <table>
            <tr>
              <th>MPC</th>
              <th>ECB</th>
              <th>FOMC</th>
              <th>RBA</th>
              <th>BOC</th>
              <th>RBNZ</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md">
        <button class="btn bg-red-btn">Cancel all Alerts </button>
        <button class="btn bg-dark-blue-btn">See all Orders</button>
      </div>
    </div>
    <div *ngFor="let order of orders" class="row mb-2">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-content">
            <div class="row">
              <div class="col-md-2">
                <h1>{{order.auction.currency}}</h1>
                <h2 class="date">{{order.auction.rate_start | date: 'MMM'}}</h2>
                <div class="bg-green" *ngIf="order.direction === 'rec'">
                  <h1>R</h1>
                </div>
                <div class="bg-red" *ngIf="order.direction === 'pay'">
                  <h1>P</h1>
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-4">
                    <div class="bg-chart-primary">
                      <h2>Next auction</h2>
                      <p class="float-left">{{order.auction.auction_cutoff | date: 'dd-MMM-yyyy'}}</p>
                      <p class="float-right">{{order.auction.auction_cutoff | date: 'h:mm a'}}</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="bg-chart-primary">
                      <h2>Fixed leg: </h2>
                      <p class="float-left">10-mar-2021</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="bg-chart-primary">
                      <h2>Floating leg: </h2>
                      <p class="float-left">10-mar-2021</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-3 pr-3">
                    <div class="bg-chart-primary">
                      <h2>start Date</h2>
                      <p class="float-left">{{order.auction.rate_start | date: 'dd-MMM-yyyy'}}</p>
                      <br>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="bg-chart-secondary">
                      <h2>{{order.rate}}</h2>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="bg-dark-blue">
                      <p><b>size of Dv01:</b></p>
                      <h2>200 k</h2>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="bg-dark-blue">
                      <p><b>Notional:</b></p>
                      <h2>55.2 BIO</h2>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="bg-light-green">
                      <p><b>Status</b></p>
                      <h2>Working auction</h2>
                    </div>
                  </div>
                  <div class="col-md-3  pr-3">
                    <div class="bg-chart-primary">
                      <h2>End Date</h2>
                      <p>{{order.auction.rate_end | date: 'dd-MMM-yyyy'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
