<div class="container">
  <div class="row">
    <div class="col-md">
      <div>
        <table>
          <tr>
            <th>MPC</th>
            <th>ECB</th>
            <th>FOMC</th>
            <th>RBA</th>
            <th>BOC</th>
            <th>RBNZ</th>
          </tr>
          </table>
      </div>
    </div>
    <div class="col-md">
      <button class="btn bg-red-btn">Cancel all Alerts </button>
      <button class="btn bg-dark-blue-btn">See all Orders</button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col-md-2">
              <h1>MPC</h1>
              <h2 class="date">Mar</h2>
              <div class="bg-green">
                <h1>R</h1>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
                <div class="col-md-3 pr-3">
                  <div class="bg-chart-primary">
                    <h3>Next auction</h3>
                    <p class="float-left">10-mar-2021</p>
                    <p class="float-right">10:00 AM</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="bg-chart-secondary">
                    <h2>4.05</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>size of Dv01:</b></p>
                    <h2>200 k</h2>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="bg-dark-blue">
                    <p><b>Notional:</b></p>
                    <h2>55.2 BIO</h2>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="bg-light-green">
                    <p><b>Status</b></p>
                    <h2>Working auction</h2>
                  </div>
                </div>
                <div class="col-md-3  pr-3">
                  <div class="bg-chart-primary">
                    <h2>End Date</h2>
                    <p>10 Mai 2021</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
