<div class="content" role="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div>
          <table>
            <tr>
              <th (click)="filter('ALL')" [ngClass]="{'selected' : selectedOption === 'ALL'}">All</th>
              <th *ngFor="let f of filters" (click)="filter(f)" [ngClass]="{'selected' : selectedOption === f}">{{f}}</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md">
        <button class="btn bg-red-btn"  (click)="open(content)">Cancel all Orders </button>
      </div>
    </div>
    <span class="text-muted">* Notional can be edited</span>
    <div *ngFor="let order of filteredOrders; let i = index" class="row mb-2">
      <div class="col-md-12">
        <div class="card text-center">
          <div class="card-content">
            <div class="row">
              <mat-icon class="closeIcon" (click)="deleteOrder(order.id)">close</mat-icon>
              <div class="col-md-3">
                <h1>{{order.auction.currency}}</h1>
                <h2 class="date">{{order.auction.rate_start | date: 'MMM-dd'}}</h2>
                <div class="bg-green" *ngIf="order.direction === 'rec'">
                  <h1>R</h1>
                </div>
                <div class="bg-red" *ngIf="order.direction === 'pay'">
                  <h1>P</h1>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4">
                    <div class="bg-chart-primary">
                      <h2>auction cutoff</h2>
                      <p class="float-left">{{order.auction.auction_cutoff | date: 'dd-MMM-yyyy'}}</p>
                      <p class="float-right">{{order.auction.auction_cutoff | date: 'h:mm a'}}</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="bg-chart-primary">
                      <h2>Fixed leg: </h2>
                      <p class="float-left">{{order.auction.fix}}</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="bg-chart-primary">
                      <h2>Floating leg: </h2>
                      <p class="float-left">{{order.auction.fix}}</p>
                      <br>
                    </div>
                  </div>
                  <div class="col-md-3 pr-3">
                    <div class="bg-chart-primary">
                      <h2>Start date</h2>
                      <p class="float-left">{{order.auction.rate_start | date: 'dd-MMM-yyyy'}}</p>
                      <br>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="bg-chart-secondary">
                      <h2 style="white-space: nowrap" class="mx-0 p-0">{{order.rate}}</h2>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="bg-light-green">
                      <p><b>Status</b></p>
                      <h2>Working auction</h2>
                    </div>
                  </div>
                  <div class="col-md-4  pr-3">
                    <div class="bg-chart-primary">
                      <h2>End date</h2>
                      <p>{{order.auction.rate_end | date: 'dd-MMM-yyyy'}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="bg-dark-blue">
                      <p><b>size of Dv01:</b></p>
                      <h2 class="m-0 p-0">{{ddv[i].ddv | number : '1.0-0'}}</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="bg-dark-blue mr-3">
                      <p><b>Notional*:</b></p>
                      <h2 class="ddv">{{ddv[i].nat | number: '1.0-0'}}</h2>
                      <input style="position: relative;top: -40px; color: transparent" type="number" class="ddv p-0 m-0"   [(ngModel)]="ddv[i].nat" (ngModelChange)="changeNat(i, order)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
      <span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <h4 class="my-4">Are you sure you want to delete all alerts?</h4>  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss('Save click')">Confirm</button>
  </div>
</ng-template>

