<div class="content" role="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <form [formGroup]="registerForm">
        <div class="card text-center">
          <div class="card-content">
            <div class="row">
              <div class="col">
                <h1>{{auction.currency}}</h1>
                <h2 class="date">{{auction.auction_cutoff | date: 'MMM-dd'}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-dark-blue">
                  <div class="row">
                    <div class="col-md m-0 p-0">
                      <p class="line-height-normal m-3 p-0">Time to Rundown Auction</p>
                    </div>
                    <div class="col-md m-0 p-0">
                      <div class="bg-chart-secondary2">
                        <p  *ngIf="timeDifference > 0"  class="mat-h4" style="line-height: normal">{{daysToDday}}Days {{hoursToDday}}h:{{minutesToDday}}min:{{secondsToDday}}s</p>
                        <p *ngIf="timeDifference < 0" class="m-2" style="color: red"> ENDED </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md flex">
                <div class="bg-green" *ngIf="timeDifference > 0"   (click)="saveOrder('rec')"><h1>R</h1></div>
                <div class="bg-chart-secondary">
                  <input type="number" class="rate" formControlName="rate" [min]="min" [max]="max">
                  <p class="m-0 p-0">mid</p>
                </div>
                <div *ngIf="timeDifference > 0"  class="bg-red" (click)="saveOrder('pay')"><h1>P</h1></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md flex">
                <div class="row">
                  <div class="bg-chart-secondary">
                    <input type="number" class="rate" formControlName="notional" style="color: transparent; background-color: transparent; position:relative; top: 20px">
                    <p class="rate">{{registerForm.get('notional').value | number: '1.0-0'}}</p>
                    <p class="m-0 p-0">notional</p>
                  </div>
                  <div class="bg-chart-secondary">
                    <p class="rate p-2">{{registerForm.get('dv01').value | number: '1.0-0'}}</p>
                    <p class="m-0 p-0">dv01</p>
                  </div>                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-chart-primary">
                  <h3><b>{{auction.currency}} DATES</b></h3>
                  <p class="float-left">{{auction.rate_start | date: 'dd-MMM-yyyy'}} - {{auction.rate_end | date: 'dd-MMM-yyyy'}}</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md flex">
              </div>
            </div>
          </div>
          <div class="card-header p-0"></div>
        </div>
          <p class = "mat-error"
            *ngIf="registerForm.get('rate').errors"
          >rate must be be between {{min}} and {{max}}</p>
        </form>
      </div>
      <div class="col-md detail">
        <h2 class="mb-4">Parameters</h2>
        <table>
          <tbody>
          <tr>
            <td><b>Start Date:</b></td>
            <td>{{auction.rate_start | date: 'dd-MMM-yyyy'}}</td>
          </tr>
          <tr>
            <td><b>End Date:</b></td>
            <td>{{auction.rate_end | date: 'dd-MMM-yyyy'}}</td>
          </tr>
          <tr>
            <td><b>Currency:</b></td>
            <td>{{auction.currency}}</td>
          </tr>
          <tr>
            <td><b>Cleared:</b></td>
            <td>{{auction.cleared}}</td>
          </tr>
          <tr>
            <td><b>Fixed Leg:</b></td>
            <td>{{auction.fix}}</td>
          </tr>
          <tr>
            <td><b>Floating Leg:</b></td>
            <td>{{auction.fix}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


