<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <p class="desc">Cancel
                <mat-icon>close</mat-icon>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h1>MPC</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-red">
                <h2><b>ALARM</b></h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 mr-0 pr-0 ml-1">
              <div class="bg-red">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  id="Layer_1"
                  enable-background="new 0 0 50 150"
                  xml:space="preserve"
                  viewBox="0 0 50 150"
                  version="1.1"
                  height="100"
                  color="white"
                  y="0px"
                  x="0px"
                >
<g
>
	<line
    y2="125.95"
    x1="23.871"
    x2="23.871"
    stroke="#000000"
    stroke-miterlimit="10"
    y1="1.917"
    stroke-width="6"
  />
  <polygon
    points="42.292 125.05 3.969 125.05 24.885 149"
  />
</g>
                </svg>
              </div>
            </div>
            <div class="col-md mx-0 px-0">
              <div class="row p-0 m-0">
                <div class="col-md p-0 m-0">
                  <div class="bg-dark-blue">
                    <p class="m-0 p-0">current: </p>
                    <h2><b>4.05</b></h2>
                  </div>
                </div>
              </div>
              <div class="row p-0 m-0">
                <div class="col-md p-0 m-0">
                  <div class="bg-chart-primary">
                    <h2>set:</h2>
                  </div>
                </div>
                <div class="col-md p-0 m-0">
                  <div class="bg-chart-primary">
                    <h2><b>xx</b></h2>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-2 ml-0 pl-0 mr-1">
              <div class="bg-green">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  id="Layer_1"
                  enable-background="new 0 0 50 150"
                  xml:space="preserve"
                  viewBox="0 0 50 150"
                  version="1.1"
                  height="100"
                  color="white"
                  y="0px"
                  x="0px"
                >
<g
>
	<line
    y2="125.95"
    x1="23.871"
    x2="23.871"
    stroke="#000000"
    stroke-miterlimit="10"
    y1="1.917"
    stroke-width="6"
  />
  <polygon
    points="42.292 125.05 3.969 125.05 24.885 149"
  />
</g>
                </svg>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Alert</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md"></div>

  </div>
</div>
