<div class="content" role="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div>
          <table>
            <tr>
              <th (click)="filter('ALL')" [ngClass]="{'selected' : selectedOption === 'ALL'}">All</th>
              <th *ngFor="let f of filters" (click)="filter(f)" [ngClass]="{'selected' : selectedOption === f}">{{f}}</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let auction of filteredOrders" class="col-md-2 pl-1 pr-1 pb-1">
        <div class="card text-center">
          <div class="card-content">
            <div class="row">
              <div class="col">
                <h1>{{auction.currency}}</h1>
                <h2 class="date">{{auction.auction_cutoff | date: 'MMM-dd'}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-chart-primary">
                  <h3>Next auction</h3>
                  <p class="float-left">{{auction.auction_cutoff | date: 'dd-MMM-yyyy'}}</p>
                  <p class="float-right">{{auction.auction_cutoff | date: 'h:mm a'}}</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="bg-chart-secondary">
                  <h2>{{auction.rate_mid}}</h2>
                  <p class="m-0 p-0">mid</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md order">
                <div *ngIf="auction.auction_cutoff >= today" class="bg-green text-white"  (click)="navigateToDetail(auction)">
                  <p class="m-0 pt-2 pb-2">Leave order</p>
                </div>
                <div *ngIf="auction.auction_cutoff < today" class="bg-grey text-white" >
                  <p class="m-0 pt-2 pb-2">Leave order</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div hidden class="col-md order">
                <div class="bg-transparent text-white " (click)="navigateToOrder(auction)">
                  <p class="m-0 pt-2 pb-2">Limit order</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header p-0"></div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>


