<div class="container">
  <div class="row">
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>MPC</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>ECB</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>FOMC</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>RBA</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>BOC</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
    <div class="col-md-2 pl-1 pr-1">
      <div class="card text-center">
        <div class="card-content">
          <div class="row">
            <div class="col">
              <h1>RBNZ</h1>
              <h2 class="date">DEC-20</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-primary">
                <h3>Next auction</h3>
                <p class="float-left">10-mar-2021</p>
                <p class="float-right">10:00 AM</p>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="bg-chart-secondary">
                <h2>4.05</h2>
                <p class="m-0 p-0">mid</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-green text-white ">
                <p class="m-0 pt-2 pb-2">Leave order</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md order">
              <div class="bg-transparent text-white ">
                <p class="m-0 pt-2 pb-2">Limit order</p>
              </div>
            </div>
          </div>

        </div>
        <div class="card-header p-0"></div>
      </div>
    </div>
  </div>
</div>
