@import "~src/styles";
footer {
  background-color: $dark-blue;
  line-height: 20px;
  margin: 0;
}
h1{
  color: #FFffff;
  font-size: $font-md;
  font-weight: 500;
}
footer a{
  display: flex;
  color: $light-grey;
  font-weight: 100;
}
.main{
  margin: auto;
}
p{
  text-align: center;
  color: $light-grey;
  font-weight: 100;
}
.align-right{
padding-left: 300px}
